@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgba(40, 40, 47, 1);
    font-family: "Nunito Sans", sans-serif;
}

@layer utilities {
    @layer components responsive {
        /* Hide scrollbar for Chrome, Safari, and Opera */
        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }


        /* Hide scrollbar for IE, Edge, and Firefox */
        .no-scrollbar {
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
        }
    }
}